Strict HTTP spec compliance

This has been an ongoing discussion between a few of us for a while now. Currently Node's HTTP implementation is not spec compliant, it's pretty loose actually. The term @bnoordhuis used which I think describes it well is that Node presents an HTTP "toolbox" from which you can build HTTP-based technologies, be it frameworks or simple tools. Node doesn't present you with strong opinions or even particularly strong boundaries, it's up to you and/or userland to do that. The expectation, therefore, is on the user, or the framework author, to impose as much HTTP spec compliance as the think appropriate for their usecase.

My opinions have been shifting on this, mainly because a lot (majority I think) of our security fixes are done in our HTTP code and many of them would likely be alleviated by stricter adherence to spec. Examples of this are the request smuggling and response splitting vulnerabilities that we have to deal with (I don't expect we've seen the last of these by any means). The HTTP spec is written with these kinds of issues, many years have gone in to identifying the edges and coming up with mechanisms to make HTTP safer for all, allowable character ranges is a prime example of this.

If we were to move to stricter HTTP spec compliance, it would clearly mean some pretty heavy breaking changes and it may even be quite painful. I don't have a clear understanding of where all these breakages would be, perhaps we can do some work in identifying those.

Of course we can come up with more creative ways to deal with this. One option is for us to start a new project that publishes a strict version of `'http'` to npm that users can rely on for assurance and safety. It could make some of the compromises that are too difficult in core: breakage, performance cost, API strictness.

/cc @jasnell @bnoordhuis @dougwilson @hueniverse @nodejs/http 

Generally +1 on any effort to get stricter compliance. I would, however, switch things around and make it so that the current, lenient http support is published as a standalone module on npm and that the new strict compliance work is built into core. Yes, there would be some breakage but it would give us a better compliance/security by default footing.

I have started a survey of which MUST and SHOULD requirements in RFC7230 we are currently ignoring but haven't been able to go into too much depth yet (and likely won't have too much time available until after my vacation time in early July)

Additional point: the overwhelming majority (if not all) the potential security issues can be mitigated in core by focusing primarily on strict adherence to [RFC 7230 Section 3 "Message Format"](https://tools.ietf.org/html/rfc7230#section-3) for both message parsing _and_ serialization. The remaining issues tend to fall more into the quality-of-support category.


Improved URL parsing and handling is closely related to this and should also be improved at the same time: https://github.com/nodejs/node-eps/pull/28


Like I said before many times, I'd like to see the entire HTTP module moved out of core and into an npm module. Once that is done, this type of work would be a lot easier and would also allow some healthy competition in creating alternatives.


@hueniverse multiple attempts to do this have been tried, both porting `http` to JavaScript and forking it to a third party module. 

All attempts so far have stalled. This is a big undertaking and not one that should be done lightly. 


This is a great idea but until we have a better understanding of exactly _what_ would break by doing this I don't think people will be able to really evaluate it. I'm +1 on the idea of being more spec compliant but tend to generally be -1 on breaking people's modules and applications in the name of spec purity.


> in the name of spec purity.

As I've said, this was the way I thought about this matter previously but I've come over to the side of seeing that the spec is largely built around ensuring that edge-cases are taken care of. There has been a ton more investment in getting the spec right to avoid problems like request smuggling and response splitting than we've put in to Node. We keep on seeing this come up and I'm getting tired of thinking up ways to justify why Node isn't just doing the "right thing" when we have security releases. Being spec compliant would be an effort in piggybacking the hard work of others to make Node more secure. If I cared about purity I wouldn't be using JavaScript!


There is a lot of http/1 that we can continue affording to ignore. Robust
parsing and strict serialization are not included in that set. I'll be
working on cataloging the current failures so we can have a better sense of
what breaks, but we should definitely close those gaps.
On Jun 13, 2016 4:54 PM, "Rod Vagg" notifications@github.com wrote:

> in the name of spec purity.
> 
> As I've said, this was the way I thought about this matter previously but
> I've come over to the side of seeing that the spec is largely built around
> ensuring that edge-cases are taken care of. There has been a ton more
> investment in getting the spec right to avoid problems like request
> smuggling and response splitting than we've put in to Node. We keep on
> seeing this come up and I'm getting tired of thinking up ways to justify
> why Node isn't just doing the "right thing" when we have security releases.
> Being spec compliant would be an effort in piggybacking the hard work of
> others to make Node more secure. If I cared about purity I wouldn't be
> using JavaScript!
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> https://github.com/nodejs/CTC/issues/5#issuecomment-225742402, or mute
> the thread
> https://github.com/notifications/unsubscribe/AAa2eYeYOY9lTUGrzzf6iI4WOx4T87UWks5qLe29gaJpZM4Ix_dC
> .


Overall I agree, but I think there are unexpected issues we could deal with better. For example, if we are going to demand that urls are properly encoded then I'd like to see the error message have a reminder to use `encodeURI()`, and for invalid domain names to use `punycode.toASCII()`.

Even then too much strictness could make the whole thing more error prone to the user. Here's an example of a simple url I want to grab:

``` js
'use strict';
const http = require('http');
const my_url = 'http://➡.ws/♥';

http.get(my_url, res => {
  res.on('data', chunk => print(chunk.toString()));
});
```

But now if we start requesting that all URLs are properly formatted the above becomes:

``` js
'use strict';
const punycode = require('punycode');
const http = require('http');
const url = require('url');
const my_url = 'http://➡.ws/♥';

let parsed = url.parse(my_url);
parsed.hostname = punycode.toASCII(parsed.hostname);
parsed.pathname = encodeURI(parsed.pathname);
let new_url = url.format(parsed);

http.get(new_url, res => {
  res.on('data', chunk => print(chunk.toString()));
});
```

A bit of a pain, right? Also unexpected because not only browsers but many other tools like `curl` accept the unicode and automatically re-encodes it. Now I'm not saying we allow users to poop all over it and we keep chugging along. Just that we pay attention to what programs are already doing and consider how we can make our APIs act as a user would intuitively expect.


This conversation seems to have run its course. Closing, but feel totally free to comment or re-open if you think it would be better that this stay open. (I guess the HTTP WG isn't a thing anymore, is it? Would be great to hand it off over there and let Eran and Doug and James and so on figure out the path forward.)
